/* define all colors as variables */
:root {
  --border: rgba(0, 0, 0, .2);
  --shadow: #000;
  --header: rgba(0, 0, 0, .3);
  --main: #2691d9;
  --text: rgba(0, 0, 0, .8);
  --textAlt: #fff;
  --inactive: rgba(0, 0, 0, .3);
  --background: rgba(255, 255, 255, .9);
  ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  color: var(--header);
}

h1 {
  padding: 1rem;
}

.icon {
  color: var(--inactive);
}

/* Transitons for smooth theme change */
*:not(body) {
  transition: all .5s ease;
}

/* All other styles */
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #b0bec5;
  height: 100vh;
  overflow: hidden;
}

.App {
  margin: 5% 15%;
}

.active {
  color: var(--main);
}

@media (min-width: 450px) {
  .App {
    margin: 5% 20%;
  }
}

@media (min-width: 700px) {
  .App {
    margin: 5% 30%;
  }
}

@media (min-width: 900px) {
  .App {
    margin: 5% 35%;
  }
}

@media (min-width: 1350px) {
  .App {
    margin: 5% 40%;
  }
}
